<div class="💪 🌳 🪜" id="layouts">
  <div class=💪>
    <div class="💪 🌳 🏛️ 🛏️">
      <div class="💪 🌳 🔲 🎯">A1</div>
    </div>
    <div class="💪 🌳 🪜 🛏️">
      <div class="💪 🌳">
        <div class="💪 🌳 🏛️ 🦌 🍑 🎯 🌈">A1</div>
        <div class="💪 🌳 🏛️ 🦌 🍑 🎯">A2</div>
      </div>
      <div class="💪 🌳">
        <div class="💪 🌳 🏛️ 🦌 🌈 🎯">B1</div>
        <div class="💪 🌳 🏛️ 🦌 🎯">B2</div>
      </div>
    </div>
  </div>
  <div class=💪>
    <div class="💪 🌳 🪜 🛏️">
      <div class="💪 🌳 🦌 🛏️ 🍑 🎯">A1</div>
      <div class="💪 🌳 🦌 🛏️ 🎯">B2</div>
    </div>
    <div class="💪 🌳 🛏️">
      <div class="💪 🌳 🦌 🌈 🎯">A1</div>
      <div class="💪 🌳 🦌 🎯">A2</div>
    </div>
  </div>
  <div class="💪">
    <div class="💪 🌳 🪜 🛏️">
      <div class="💪 🌳 🦌 🛏️ 🍑 🎯">A1</div>
      <div class="💪 🌳">
        <div class="💪 🌳 🏛️ 🦌 🌈 🎯">B1</div>
        <div class="💪 🌳 🏛️ 🦌 🎯">B2</div>
      </div>
    </div>
    <div class="💪 🌳 🪜 🛏️">
      <div class="💪 🌳">
        <div class="💪 🌳 🦌 🌈 🎯">A1</div>
        <div class="💪 🌳 🪜">
          <div class="💪 🌳 🦌 🛏️ 🎯 🍑">A2</div>
          <div class="💪 🌳 🦌 🛏️ 🎯">B2</div>
        </div>
      </div>
    </div>
  </div>
  <div class=💪>
    <div class="💪 🌳 🏛️ 🛏️">
      <div class="💪 🌳 🦌 🎯 🌈">
        A1
      </div>
      <div class="💪 🌳 🦌 🎯 🌈 ">
        A2
      </div>
      <div class="💪 🌳 🦌 🎯">
        A3
      </div>
    </div>
    <div class="💪 🌳 🪜 🛏️">
      <div class="💪 🌳">
        <div class="💪 🌳 🦌 🍑 🎯">A1</div>
      </div>
      <div class="💪 🌳">
        <div class="💪 🌳 🦌 🍑 🎯">B2</div>
      </div>
      <div class="💪 🌳">
        <div class="💪 🌳 🦌 🎯">C3</div>
      </div>
    </div>
  </div>
</div>